# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [1]:
s = input("Enter E.mail Id:")
s1 = s.split("@")[1]
s2 = s1.split(".")[0]
print("Company Name is:",s2)

Enter E.mail Id:jnn@yahoo.com
Company Name is: yahoo

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [6]:
my_list = input("Enter words: ")
words = [word for word in my_list.split(",")]
print("words in a comma separated sequence after sorting: ",",".join(sorted(list(words))))

Enter words: they,going,kite,hello,words,and,ever,boy,mango,quart
words in a comma separated sequence after sorting:  and,boy,ever,going,hello,kite,mango,quart,they,words

# Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [9]:
s = {1,2,3,4,5,6,7,8,9,1.55,(22,55),"hello", 55,5,7}
print(s)
#Removes duplicate items in list

{1, 2, 3, 4, 5, 6, 7, 8, 9, 1.55, (22, 55), 'hello', 55}

In [21]:
s2 = {88,35,44,'hello'}
print(s2)

{88, 35, 44, 'hello'}

In [8]:
type(s)

set

In [11]:
s.add(22)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 1.55, (22, 55), 'hello', 22, 55}

In [12]:
s.pop()

1

In [16]:
s.isdisjoint
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 1.55, (22, 55), 'hello', 22, 55}

In [22]:
print(len(s))

13

In [26]:
s.discard(22)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 1.55, (22, 55), 'hello', 55}

In [27]:
print(s.issubset(s2))

False

In [29]:
print(s.union(s2))

{1.55, 2, 3, 4, 5, 6, 7, 8, 9, (22, 55), 'hello', 35, 44, 55, 88}

In [30]:
print(s.isdisjoint(s2))

False

In [31]:
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 1.55, (22, 55), 'hello', 55}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [32]:
lst = input("Enter numbers with each number separated by a space :")
x = lst.split()
n = len(x)
t = (n+1)*(n+2)/2
sum = 0
for num in x:
    sum += int(num)
print(int(t-sum))

Enter numbers with each number separated by a space :1 2 4 6 3 7 8
5

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [33]:
l = input("Enter elements of the list L with each element separated by a space: ")
x = l.split()
end_list = []
for num in x:
    if num not in end_list:
        end_list.append(num)
print(end_list)

Enter elements of the list L with each element separated by a space: 12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155']